<div class="text-center">
    <a *ngIf="user.lfsponsor" class="btn btn-primary text-white" (click)=searchSponsor()>Find a Sponsor</a>&nbsp;<a *ngIf="user.sponsoring" class="btn btn-secondary text-white" (click)=searchSponsee()>Find Sponsees</a>
</div>
<div *ngIf="search">
    <br>
    <div class="search card" style="width: 56rem;">
        <div *ngFor="let users of search" class="users">
            <div class="card-header">
                <div class="text-front">
                    <em>{{ users.username }}</em>
                </div>
            </div>
            <div class="card-body">
                <h6>{{ users.bio }}</h6>
            </div>
            <div>
                <div *ngIf="searchType==='sponsor'" class="text-end">
                    <button class="btn btn-primary text-end">Sponsor me?</button>
                </div>
                <div *ngIf="searchType==='sponsee'" class="text-end">
                    <button class="btn btn-primary text-end">Sponsor them!</button>
                </div>
            </div>
        </div>
    </div>
</div>
