<div class="jumbotron">
    <h3 class="text-center">Sponsees Stepwork</h3>
</div>
<div class="feed card" style="width: 48rem;">
    <div *ngFor="let learn of learnings; let i = index" class="learn">
        <div class="card-header">
            <div class="text-end">
                <em>Step {{ learn.step }}</em>
            </div>
        </div>
        <div class="card-body">
            <em>@{{ learn.username }}</em>
            <h6>{{ learn.title }}</h6>
            <div class="text-end">
                <button (click)="onView(i)" [routerLink]="['/viewStepwork']" type="button" class="btn btn-primary text-end">View</button>
            </div>
        </div>
    </div>
</div>
