<div class="btn-group">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
    {{ title }}
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <div *ngFor="let chats of rooms">
          <li><a class="dropdown-item" (click)="filterMessages(chats)">{{ chats.room }}</a></li>
        </div>
  </ul>
</div>
<div class="main-chat jumbotron">
    <table class="table">
        <tr>
            <td>
                <div class="user-list-wrapper">
                    <app-user-list></app-user-list>
                </div>
            </td>
            <td>
                <div #scroller class="feed-wrapper">
                    <app-chat-feed></app-chat-feed>
                </div>
            </td>
        </tr>
    </table>
    <div class="chat-form-wrapper">
        <app-chat-form></app-chat-form>
    </div>
</div>
