<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Chatroom
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>
<div class="main-chat jumbotron">
    <table class="table">
        <tr>
            <td>
                <div class="user-list-wrapper">
                    <app-user-list></app-user-list>
                </div>
            </td>
            <td>
                <div #scroller class="feed-wrapper">
                    <app-chat-feed></app-chat-feed>
                </div>
            </td>
        </tr>
    </table>
    <div class="chat-form-wrapper">
        <app-chat-form></app-chat-form>
    </div>
</div>
