<nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Open sponsor navigation bar">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/']">OpenSponsor</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbar">
        <ul class="navbar-nav">
          <li *ngIf="authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" aria-current="page" [routerLink]="['/dashboard']">Dashboard</a>
          </li>
          <li *ngIf="!authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" [routerLink]="['/register']">Register</a>
          </li>
          <li *ngIf="!authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" [routerLink]="['/login']">Login</a>
          </li>
          <li *ngIf="authService.loggedIn()" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown">
                <li><a class="dropdown-item" [routerLink]="['/profile']">My Profile</a></li>
                <li><a class="dropdown-item" [routerLink]="['/chatroom']">My Chatroom</a></li>
                <li><a class="dropdown-item" [routerLink]="['/requests']">My Requests</a></li>
            </ul>
          </li>
          <li *ngIf="authService.loggedIn()" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">Stepwork</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown">
                <li><a class="dropdown-item" [routerLink]="['/createModules']">Create Module</a></li>
                <li><a class="dropdown-item" [routerLink]="['/editModules']">Edit My Modules</a></li>
                <li><a class="dropdown-item" [routerLink]="['/findModules']">Find Modules</a></li>
                <li><a class="dropdown-item" [routerLink]="['/stepwork']">Step-Work</a></li>
            </ul>
          </li>
          <li *ngIf="authService.loggedIn()" class="nav-item">
            <a class="nav-link" (click)="onLogoutClick()" href="#">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
